{% extends "Website/common/base.html" %}
{% load staticfiles %}

{% block content %}
    
    <!-- Home -->

	<div class="home">
		<!--
		<!-- Slider 
		<div class="home_slider_container">
			<div class="owl-carousel owl-theme home_slider">
				
				<!-- Slide 
				<div class="slide">
					<div class="background_image" style="background-image:url({%  static 'media/slider.jpg' %})"></div>
					<div class="home_slider_overlay"></div>
					<div class="slide_wrap d-flex flex-column align-items-start justify-content-center">
						<div class="home_container">
							<div class="container">
								<div class="row">
									<div class="col">
										<div class="home_content active">
											<div class="home_subtitle">optimiser ses revenus en exerçant à domicile !</div>
											<div class="home_title">
												<h1><span>2 mois</span> Offerts</h1>
											</div>
                                            <div class="home_subtitle">pour les 50 premiers inscrits</div>
											<div class="button home_button"><a href="#">S'inscrire ici</a></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
-->
        
    <!-- Parallax -->    
           <div class="home">
            <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{%  static 'media/slider.jpg' %}" data-speed="0.8"></div>
            <div class="home_overlay"></div>
            <div class="home_container2 d-flex flex-column align-items-center justify-content-center">
                <div class="home_container2">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="home_content active">
                                    <div class="home_subtitle">Offre de Bienvenue</div>
                                        <div class="home_title">
                                            <h1><span>149.99€/mois*</span></h1>
                                        </div>
                                        <div class="home_subtitle">*Pour les 2 premiers mois, places limitées !</div>
                                        <div class="button home_button"><a href="#newsletter_mail" data-toggle="modal" data-target="#newsletter_mail">S'inscrire ici</a></div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
	</div>
    	<!-- CTA -->
        <!-- MODAL -->

<div class="modal fade" id="newsletter_mail" tabindex="-1" role="dialog" aria-labelledby="newsletter_mail_Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newsletter_mail_Label">Inscrivez-vous ici</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form method="POST" class="modal_form">
              <div class="row contact_form_row">
				  {% load widget_tweaks %}
				  {% csrf_token %}
                  {% render_field form.email class="contact_input" placeholder="Votre e-mail"%}
              </div>
              <div class="modal-footer">
                  <input type="submit" class="contact_button" value="S'inscrire !">
              </div>
          </form>      
      </div>
    </div>
  </div>
</div>


<!-- MODAL -->



	<div class="cta">
		<div class="d-flex flex-xl-row flex-column align-items-start justify-content-start">
			<!-- CTA Content -->
			<div class="cta_content">
				<div class="section_title_container">
					<div class="section_subtitle">Ne vous limitez plus aux séances de sport en salle.</div>
					<div class="section_title"><h1>Exercez à domicile.</h1></div>
				</div>
				<div class="cta_list">
					<ul>
						<li class="d-flex flex-row align-items-center justify-content-start">
							<img src="{%  static 'media/check.png' %}" alt="">
							<span>Me & You vous permet de ne plus vous limiter aux salles de sport.</span>
						</li>
						<li class="d-flex flex-row align-items-center justify-content-start">
							<img src="{%  static 'media/check.png' %}" alt="">
							<span>Exercez votre métier de coach à directement à domicile.</span>
						</li>
						<li class="d-flex flex-row align-items-center justify-content-start">
							<img src="{%  static 'media/check.png' %}" alt="">
							<span>Souscrivez à notre formule annuelle et économisez jusqu'à 50%.</span>
						</li>
						<li class="d-flex flex-row align-items-center justify-content-start">
							<img src="{%  static 'media/check.png' %}" alt="">
							<span>Bénéficiez d'un système simple & automatisé de facturation.</span>
						</li>
					</ul>
				</div>
				<div class="cta_buttons">
					<div class="d-flex flex-row align-items-start justify-content-start flex-wrap">
						<div class="button cta_button"><a href="contact">Contactez-nous !</a></div>
						<!-- <div class="button_2 cta_button"><a href="contact">10% offerts</a></div> -->
					</div>
				</div>
			</div>

		</div>
	</div>
    
    	<!-- Intro -->

	<div class="intro">
		<div class="intro_boxes_wrap">
			<div class="d-flex flex-row align-items-start justify-content-start flex-wrap">
				
				<!-- Intro Box 1-->
				<div class="intro_box d-flex flex-column align-items-center justify-content-center text-center">
					<div class="intro_box_icon"><img src="{%  static 'media/icon_1.svg' %}" alt=""></div>
					<div class="intro_box_title"><h3>Parainage avantagueux</h3></div>
					<div class="intro_box_text">
						<p>La parainage est un atout majeur de notre plateforme. Il est pensé pour vous offrir le maximum d'avantages possible. Réduction, offres exclusives, goodies sont au programme.</p>
					</div>
				</div>

				<!-- Intro Box 2-->
				<div class="intro_box d-flex flex-column align-items-center justify-content-center text-center">
					<div class="intro_box_icon"><img src="{%  static 'media/icon_2.svg' %}" alt=""></div>
					<div class="intro_box_title"><h3>Visibilité maximale</h3></div>
					<div class="intro_box_text">
						<p>Nous vous offrons une visibilité maximale grâce à nos nombreux partenariats. Vous bénéficierez de notre large communauté de professionnels du sports, écoles ou vêtement sportifs.</p>
					</div>
				</div>

				<!-- Intro Box 3-->
				<div class="intro_box d-flex flex-column align-items-center justify-content-center text-center">
					<div class="intro_box_icon"><img src="{%  static 'media/icon_3.svg' %}" alt=""></div>
					<div class="intro_box_title"><h3>Facturation simplifiée</h3></div>
					<div class="intro_box_text">
						<p>Nous avons travaillé dur pour vous simplifier au maximum l'étape de la facturation. Le système est optimsé pour vous faire économiser du temps (et donc de l'argent).</p>
					</div>
				</div>

			</div>
		</div>
	</div>
{% endblock %}