aniso8601==4.0.1
beautifulsoup4==4.7.1
certifi==2019.6.16
chardet==3.0.4
Click==7.0
Django==2.2.7
django-widget-tweaks==1.4.5
Flask==1.0.2
Flask-JWT==0.3.2
Flask-JWT-Extended==3.15.0
Flask-RESTful==0.3.6
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
numpy==1.17.3
PyJWT==1.4.2
pytz==2018.7
requests==2.22.0
six==1.11.0
soupsieve==1.9.1
SQLAlchemy==1.2.14
sqlparse==0.3.0
urllib3==1.25.8
virtualenv==16.1.0
Werkzeug==0.14.1
