{% load staticfiles %}
{% block footer %}
    <!-- Footer -->

	<footer class="footer">
		<div class="footer_content">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="footer_logo text-center"><a href="#"><img height="80px" width="auto" src="{%  static 'media/logo_my.png' %}" alt=""></a></div>
					</div>
				</div>
				<div class="row footer_row">
					<div class="col-lg-4 footer_col">
						<div class="footer_item text-center">
							<div class="footer_icon d-flex flex-column align-items-center justify-content-center ml-auto mr-auto">
								<div><img src="{%  static 'media/phone.png' %}" alt=""></div>
							</div>
							<div class="footer_title">Appelez nous !</div>
							<div class="footer_list">
								<ul>
									<li><a href="tel:+33 6 18 89 77 36">+33 6 18 89 77 36</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-4 footer_col">
						<div class="footer_item text-center">
							<div class="footer_icon d-flex flex-column align-items-center justify-content-center ml-auto mr-auto">
								<div><img src="{% static 'media/mail.png' %}" alt=""></div>
							</div>
							<div class="footer_title">e-mail</div>
							<div class="footer_list">
								<ul>
									<li><a href="mailto:info@meandyoucorporate.com">info@meandyoucorporate.com</a></li>
									<li><a href="mailto:tanguy@meandyoucorporate.com">tanguy@meandyoucorporate.com</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-4 footer_col">
						<div class="footer_item text-center">
							<div class="footer_icon d-flex flex-column align-items-center justify-content-center ml-auto mr-auto">
								<div><img src="{%  static 'media/contact.png' %}" alt=""></div>
							</div>
							<div class="footer_title">Nous situer</div>
							<div class="footer_list">
								<ul>
									<li>Rue des écoles</li>
									<li>91220 Bretigny</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer_bar d-flex flex-row align-items-center justify-content-center">
			<div class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | <i class="fa" aria-hidden="true"></i><a href="https://meandyoucorporate.com" target="_blank">Me & You Corporate</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
		</div>
	</footer>
{% endblock %}